.custom-margin{
    margin: 15px 0px;
}
.colHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addBtn{
    margin: 5px;
}

.container-fluid {
    padding: 25px;
}
.info-box-content{
    width: 100%;
    text-overflow: ellipsis;
}
.danger_text{
    font-weight: 600;
}
