@import'../../../../assets/css/tooltip.scss';

.btn{
    margin: 3px;
}
.list-inline {
    li {
        .addUser {
            width: 2.5rem;
            height: 2.5rem;
            // border: 1px solid red;
            // border-radius: 50%;
            background-image: url('../../../../assets/img/add.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
}