<app-universal-view>
  <div class="row" style="padding-top: 15px;">
    <div class="col-10 offset-1">
      <div class="card card-light">
        <div class="card-header">
          <div class="row">
            <div class="col-7">
              <h3 class="card-title font_geo large_font">მომხმარებლის ინფორმაცია</h3>
            </div>
            <div class="col-5">
              <h3 class="card-title font_geo large_font">მომხმარებლის ავატარი</h3>
            </div>
          </div>
        </div>
        <!-- <form role="form"> -->
          <div class="card-body">
            <div class="row">
              <div class="col-7 border-right">
                <div class="form-group font_geo medium_font">
                  <label>სახელი</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="სახელი" [(ngModel)]="name">
                  </div>
                  <span class="validation" *ngIf="!(name.length > 0) && showWarnings">
                    <i class="fas fa-exclamation"></i>
                    შეიყვანეთ მომხმარებლის სახელი.
                  </span>
                </div>
                <div class="form-group font_geo medium_font">
                  <label>გვარი</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="გვარი" [(ngModel)]="surname">
                  </div>
                  <span class="validation" *ngIf="!(surname.length > 0) && showWarnings">
                    <i class="fas fa-exclamation"></i>
                    შეიყვანეთ მომხმარებლის გვარი.
                  </span>
                </div>
                <div class="form-group font_geo medium_font">
                  <label>ავტორიზაციის სახელი</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="ავტორიზაციის სახელი" [(ngModel)]="userName">
                  </div>
                  <span class="validation" *ngIf="!(userName.length > 0) && showWarnings">
                    <i class="fas fa-exclamation"></i>
                    შეიყვანეთ მომხმარებლის ავტორიზაციის სახელი.
                  </span>
                </div>
                <div class="form-group font_geo medium_font">
                  <label for="exampleInputEmail1">ელ.ფოსტა</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" [(ngModel)]="eMail">
                  </div>
                  <span class="validation" *ngIf="!(eMail.length > 0) && showWarnings">
                    <i class="fas fa-exclamation"></i>
                    შეიყვანეთ მომხმარებლის ელექტრონული ფოსტა.
                  </span>
                </div>
                <div class="form-group font_geo medium_font">
                  <label for="exampleInputPassword1">პაროლი</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                    </div>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
                  </div>
                  <span class="validation" *ngIf="!(password.length > 0) && showWarnings">
                    <i class="fas fa-exclamation"></i>
                    შეიყვანეთ მომხმარებლის პაროლი.
                  </span>
                </div>
                <div class="form-group font_geo medium_font">
                  <label>საკონტაქტო ნომერი:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="mobileNumber">
                  </div>
                  <span class="validation" *ngIf="!(mobileNumber > 0) && showWarnings">
                    <i class="fas fa-exclamation"></i>
                    შეიყვანეთ მომხმარებლის ტელეფონის ნომერი.
                  </span>
                </div>
                <div class="form-group font_geo medium_font">
                  <label>სქესი</label>
                  <ng-select [items]="genders" bindLabel="name"  bindValue="value" [(ngModel)]="gender"></ng-select>
                  <span class="validation" *ngIf="!(gender > 0) && showWarnings">
                    <i class="fas fa-exclamation"></i>
                    აირჩიეთ მომხმარებლის სქესი.
                  </span>
                </div>             
              </div>
              <div class="col-5">
                <div class="userAvatar">
                  <div class="selectedBlock">
                    <div class="selectedAvatar" [ngStyle]="{'background-image': 'url(' + avatars[selectedIndex] + ')' }"></div>
                  </div>
                  <div class="allAvatars">
                    <div
                      *ngFor="let avatar of avatars; let i = index"
                      class="singleAvatar"
                      [ngStyle]="{'background-image': 'url(' + avatar + ')' }"
                      [ngClass]="{'active': i === selectedIndex}"
                      (click)="selectAvatar(i)"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </form> -->
        <div class="card-footer">
          <button type="button" [ngClass]="{'disabled': !isValidated && showWarnings}" class="btn btn-primary font_geo small_font" (click)="registerUser()">რეგისტრაცია</button>
        </div>
      </div>
    </div>
  </div>
</app-universal-view>