@import'../../../../assets/css/tooltip.scss';

.item{
    &.selected{
        background-color: rgba($color: #6c757d, $alpha: 0.8);
        color: #fff;
    }
}
.initial{
    position: relative;
    z-index: 1;
    &:hover{
        z-index: 33;
    }
}
th{
    position: relative;
    z-index: 2;
}
.name{
    cursor: pointer;
}

.action{
    width: 25px;
    height: 25px;
    background-image: url('../../../../assets/img/action.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.option {
    display: inline-block;
    margin: 5px;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &.details{
        background-image: url('../../../../assets/img/details-1.svg');
        &:hover{
            background-image: url('../../../../assets/img/details-2.svg');
        }
    }
}