<div class="card-body table-responsive p-0" [ngStyle]="{'height': tableHeight}">
  <table class="table table-hover table-head-fixed text-nowrap font_geo">
    <thead style="z-index: 2;">
      <tr>
        <th> ID </th>
        <th> როლი </th>
        <th> სტატუსი </th>
        <th> <div class="action"></div> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td> {{ data.id }} </td>
        <td> <span class="badge">{{ data.name }}</span> </td>
        <td> {{ data.isActive }} </td>
        <td>
          <div class="option bin" (click)="delete(data.id)"></div>
          <div class="option edit" (click)="edit(data.id)"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
